:root{
    --primary-color: #2f4550;
    --secondary-color: #586f7c;
    --terciary-color: #f4f4f9;
}
    

header img{
    
    max-height:100px;
    padding: 0;
    width: 100vw;

}
header{
    margin: 0 auto;
    background-color:var(--terciary-color);
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 0;
    

}
header nav ul{
    margin:0 auto;
    width: 100vw;
    display: flex;
    align-items: right;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
    background-color: #586f7c;
    color: var(--terciary-color);
}
header nav ul li{
    font-weight: bold;
    color: #f4f4f9;
    min-width: fit-content; 
    height: fit-content;
    padding: 0 0.75rem;
    cursor: pointer;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
main section{
    text-align: center;
}
main section h1{
    font-size: 1.6rem;
    font-weight: bold;
    color: #2f4550;

}
main section h2{
    background-color: #586f7c;
    color:white;
    font-weight: bold;
    font-size: 1.4rem;
}
main section h3{
    background-color: #f4f4f9;
    color:#586f7c;
}
main section h4{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color:#2f4550;
    padding-top: 1rem;
    padding-left: 340px ;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    
    
}
main section p{
    text-align: center;
    margin: 0 auto;
    color:#2f4550;
    letter-spacing: .15rem;
    line-height: 2rem;
}
main section div{
    width: 100%;
    height: 100%;

}
img{
    width: 100%;
    height: 500px;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 60%;
    padding-top: 0.50rem;

}
.white{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    
    
}

.white h1{
    
}

.white h3{
    

}
.container h4{
    display: flex;
    
    
    

}
.container p{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    

}



    
    



