:root{
    --primary-color: #2f4550;
    --secondary-color: #586f7c;
    --terciary-color: #f4f4f9;
}
hr{
    width: 100vw;
    border: 13px solid #f4f4f9;
    color: #f4f4f9;
    
}
#nere{   
    align-items: end;
    justify-content: end;
    cursor: pointer;
}
    
header{
    margin: 0 auto;
    background-color:var(--terciary-color);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 0;

}
header img{
    width: 100vw;
    height:400px;

}
img{
    text-align: center;
    margin-top: -9rem;

}

header nav ul{
    margin-top: -8rem;
    width: 100;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0.5rem 2rem;
}
header nav ul li{
    font-weight: bold;
    min-width: fit-content; 
    height: fit-content;
    padding: 0 0.75rem;
    cursor: pointer;
    list-style: none;
    
}

main section{
    text-align: center;
}
main section h1{
    font-size: 1.6rem;
    font-weight: bold;
    color: #2f4550;

}
main section h2{
    margin-top: 1.5rem;
    background-color: #586f7c;
    color:white;
    font-weight: bold;
    font-size: 1.4rem;
}
main section h3{
    background-color: #f4f4f9;
    color:#586f7c;
}
main section h4{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color:#2f4550;
    padding-top: 3rem;
    padding-left: 340px ;
    padding-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    
    
}
main section p{
    text-align: center;
    margin: 0 auto;
    color:#2f4550;
    letter-spacing: .15rem;
    line-height: 2rem;
}
main section div{
    width: 100%;
    height: 100%;

}
#network #redes li a{
    width:100vw;
    background-color: #f4f4f9;
    color: #f4f4f9;
    align-items: end;
    justify-content: end;
    cursor: pointer;

}
#redes li,a{
    cursor: pointer;
}
.navegacao{
    background-color: #586f7c;
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}
.nav{

}
.nav li,a{
    width: 100vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-width: fit-content; 
    height: fit-content;
    padding: 0;
    background-color: #586f7c;
    color: #f4f4f9;
   

    
   
}
.img{
    width: 100%;
    height: 500px;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 60%;
    margin-top: 2.5rem;

}
.white{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    
    
}

.white h1{
    
}

.white h3{
    

}
.container h4{
    display: flex;
    
    
    

}
.container p{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    

}



    
    



