@charset "UTF 8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color: #2f4550;
    --secondary-color: #586f7c;
    --terciary-color: #f4f4f9;
}

.menu-white-bg{
    background-color: #f4f4f9;
    text-align: center;
    

}


.menu-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
    
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;

}
a{
    text-decoration: none;
}